@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Hello, world!</h1>

<p>Sample App to investigate issue about downloading not-usual file types </p>

<p>Eg. try to download a .msg file <a href="test.msg">like this.</a> - A <a href="test.txt">normal txt</a> file sholud work.</p>

